version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    tty: true
    # テスト環境特有の設定があれば追加

  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy
    tty: true
    env_file:
      - ./.env
    environment:
      - NODE_ENV=test
      - DB_HOST=db
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${TEST_DB_NAME}
      - DB_PORT=3306
      - JWT_SECRET=${JWT_SECRET}
      - DOTENV_CONFIG_PATH=/app/.env
      - LANG=C.UTF-8
      - LC_ALL=C.UTF-8
    command: npm test


  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: ${TEST_DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${TEST_DB_PORT:-3308}:3306"  # テスト環境用に別のポートを使用
    # profiles: ["test"]
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
