services:
  frontend:
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
      args:
        # - REACT_APP_API_URL=https://testquiz.online/api
        - REACT_APP_API_URL=http://localhost:5000/api
    ports:
      - "3000:3000"
      # - "80:80"
      # - "443:443"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      # - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      # - /etc/letsencrypt:/etc/letsencrypt:ro\\
      # - ./backend/uploads:/app/uploads:ro # パスを修正
    depends_on:
      - backend
      # tty: true
      # restart: always
      # command: npm start  # この行を追加
      # environment:
      # - REACT_APP_API_URL=https://testquiz.online/api
      # - NODE_ENV=development
      # command: npm run build
    environment:
      - REACT_APP_API_URL=http://localhost:5000/api
    command: npm start

  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./backend/uploads:/app/uploads # パスを修正
    depends_on:
      - db
    tty: true
    # restart: always
    # command: npm start  # この行を追加
    env_file:
      # - ./.env.production
      - ./.env.development
    environment:
      # - NODE_ENV=production
      # - DOTENV_CONFIG_PATH=/app/.env.production
      # - UPLOAD_DIR=/app/uploads # アップロードディレクトリのパスを設定
      - NODE_ENV=development
      - DOTENV_CONFIG_PATH=/app/.env.development
    # command: sh -c "mkdir -p /app/uploads && npm start"
    command: sh -c "sleep 20 && mkdir -p /app/uploads && npm start"  # sleep時間を増やす

    # command: sh -c "mkdir -p /app/uploads && chown -R node:node /app/uploads && sleep 10 && npm start"
    # restart: unless-stopped # クラッシュ時に再起動

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_DATABASE: "${DB_NAME}"
      MYSQL_USER: "${DB_USER}"
      MYSQL_PASSWORD: "${DB_PASSWORD}"
    volumes:
      - ./docker/mysql-data:/var/lib/mysql
      - ./docker/mysql-init:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"

    command: --default-authentication-plugin=mysql_native_password


      # profiles: ["dev"]  # 開発環境用のプロファイルを追加

      # nginx:
      #   image: nginx:alpine
      #   ports:
      #     - "80:80"
      #     - "443:443"
      #   volumes:
      #     - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      #     - /etc/letsencrypt:/etc/letsencrypt
      #     - ./frontend/build:/usr/share/nginx/html:ro
      # - frontend_build:/usr/share/nginx/html
      # - ./frontend/build:/usr/share/nginx/html
      # - ./cert:/etc/letsencrypt:ro

      # depends_on:
      #   - frontend
      #   - backend
      # volumes:
      #   frontend_build:


# volumes:
#   mysql-data_v5:

    # command: >
    #   /bin/sh -c "
    #     while [ ! -d /app/build ]; do
    #       echo 'Waiting for frontend build...'
    #       sleep 5
    #     done
    #     cp -r /app/build/* /usr/share/nginx/html/
    #     nginx -g 'daemon off;'
    #   "
